node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
Dockerfile*
docker-compose*
.dockerignore
.nyc_output
coverage
.vscode
.idea
*.log
lib
bun.lock
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.github
test.md
nginx
scripts
DOCKER.md
.DS_Store
Thumbs.db
